apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      serviceAccountName: fastapi-sa    
      containers:
        - name: fastapi
          image: {{ .Values.appimage}}:{{ .Values.apptag}} #fastapi-demo:1.0
          # imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          # env:
          #   - name: DATABASE_URL
          #     valueFrom:
          #       secretKeyRef:
          #         name: fastapi-db-secret
          #         key: DATABASE_URL            
