# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: fastapi
# spec:
#   replicas: 2
#   selector:
#     matchLabels:
#       app: fastapi
#   template:
#     metadata:
#       labels:
#         app: fastapi
#     spec:
#       containers:
#         - name: app
#           image: fastapi-demo:1.0
#           ports:
#             - containerPort: 8000

apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: {{ .Values.appimage}}:{{ .Values.apptag}} #fastapi-demo:1.0
          # imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
