# apiVersion: v1
# kind: Service
# metadata:
#   name: fastapi
# spec:
#   selector:
#     app: fastapi
#   ports:
#     - port: 80
#       targetPort: 8000
apiVersion: v1
kind: Service
metadata:
  name: fastapi
  labels:
    app: fastapi
spec:
  selector:
    app: fastapi
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
