# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: postgres
# spec:
#   selector:
#     matchLabels:
#       app: postgres
#   template:
#     metadata:
#       labels:
#         app: postgres
#     spec:
#       containers:
#         - name: postgres
#           image: postgres:15
#           ports:
#             - containerPort: 5432
#           envFrom:
#             - secretRef:
#                 name: postgres-secret
#           volumeMounts:
#             - mountPath: /var/lib/postgresql/data
#               name: data
#       volumes:
#         - name: data
#           persistentVolumeClaim:
#             claimName: postgres-pvc

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER
                      # value: postgres
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD          
            # value: postgres
        ports:
          - containerPort: 5432
